<div class='jumbotron'>
    <h2>Hello World, from Phoenix!</h2>

    <p>
        <a href="{hello_path(@conn, :show, 'Frank')}">
        Say hello to Frank
        </a>
    </p>

    <p>Value is <%= @var %> </p>
</div>